@import url('./styles.css'); /* Reutilizamos el estilo base */

/* Estilo para ranking */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead {
    background-color: #007a33;
    color: white;
}

thead th {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e8f5e9;
}

td, th {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

tbody td {
    font-size: 1rem;
    color: #333;
}