@import url('./styles.css'); /* Reutilizamos el estilo base */

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    color: #ffffff;
}


main {
    padding: 20px; /* Espaciado alrededor del contenido principal */
    background-color: #007a33; /* Fondo blanco para el formulario */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para el formulario */
    max-width: 600px; /* Ancho máximo del formulario */
    margin: 20px auto; /* Centrar el formulario */
}

form {
    display: flex;
    flex-direction: column; /* Colocar los elementos en columna */
}

label {
    margin-bottom: 5px; /* Espaciado inferior de las etiquetas */
    font-weight: bold; /* Negrita para las etiquetas */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    padding: 10px; /* Espaciado interno */
    margin-bottom: 15px; /* Espaciado inferior */
    border: 1px solid #000000; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
}

input[type="submit"] {
    background-color: #00441c; /* Color de fondo del botón */
    color: rgb(255, 255, 255); /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    font-size: 16px; /* Tamaño de fuente */
}

input[type="submit"]:hover {
    background-color: #00a545; /* Color de fondo al pasar el ratón */
}
